<div class="section1">
  <div class="main">
    <div class="  left">
      <span class="blur"></span>
      <span class="blur"></span>
      <!-- <span class="blur"></span> -->

      <h1>Hey i'm Osama Sameh</h1>
      <div class="typeWriter">
        i'm a <span class="typeWriter-text">Front End Developer </span>
      </div>
      <p class="line"></p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem,
        excepturi, sunt ullam ut molestiae animi eligendi reprehenderit mollitia
        expedita voluptatem perspiciatis alias ea laudantium consequuntur,
        incidunt molestias enim!
      </p>
      <button class="btn btn-primary cv">Download CV</button>
      <!-- ----------------------------------------------------- -->
      <div class="icons d-block mt-3 d-xl-inline">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-github"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href="oo215881@gmail.com"> <i class="fa-solid fa-envelope"></i></a>
      </div>
      <!-- ----------------------------------------------------- -->
      <!-- ----------------------------------------------------- -->

      <button class="btn btn-primary hire">Hire Me</button>

      <!-- <a class="icons" href=""><i class="fa-brands fa-linkedin"></i></a>
            <a class="icons" href=""> <i class="fa-brands fa-github"></i> </a> -->
    </div>

    <div class="right">
      <div class="imagecont jus">
        <!-- <center><img src="./osama2.jpg" alt="" ></center> -->
      </div>
    </div>
  </div>
</div>
<!-- --------section2-------------------- -->
 <div class="section2 ">
    <h2>PROJECTS</h2>
    <div class="cards">
      <div class="card">
        <img class="card-img-top" src="assets/summary.png" alt=" Herfa" />
        <div class="card-body">
          <h5 class="card-title">Files Summary</h5>
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consectetur dolor ab modi laudantium,
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/herfa.png" alt=" Herfa" />
        <div class="card-body">
          <h5 class="card-title">HERFA</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/chatBot.png" alt=" Herfa" />
        <div class="card-body">
          <h5 class="card-title">Chat Bot</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
