<div class="section1">
  <div class="row offset-xxl-2">
    <div class="col-12 col-lg-5 left">
      <span class="blur"></span>
      <span class="blur"></span>
      <!-- <span class="blur"></span> -->

      <h1>Hey i'm Osama Sameh</h1>
      <div class="typeWriter">
        i'm a <span class="typeWriter-text">Front End Developer </span>
      </div>
      <p class="line"></p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem,
        excepturi, sunt ullam ut molestiae animi eligendi reprehenderit mollitia
        expedita voluptatem perspiciatis alias ea laudantium consequuntur,
        incidunt molestias enim!
      </p>
      <button class="btn btn-primary cv">Download CV</button>
      <!-- ----------------------------------------------------- -->
      <div class="icons d-block mt-3 d-xl-inline  ">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-github"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href="oo215881@gmail.com"> <i class="fa-solid fa-envelope"></i></a>
      </div>
      <!-- ----------------------------------------------------- -->
      <!-- ----------------------------------------------------- -->

      <button class="btn btn-primary hire">Hire Me</button>

      <!-- <a class="icons" href=""><i class="fa-brands fa-linkedin"></i></a>
            <a class="icons" href=""> <i class="fa-brands fa-github"></i> </a> -->
    </div>

    <div class="col-12 col-lg-6">
      <div class="imagecont jus">
        <!-- <center><img src="./osama2.jpg" alt="" ></center> -->
      </div>
    </div>
  </div>
</div>

